.App {
  /* text-align: center; */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(21, 35, 62, 0.926);
  color: white;
}

/* React default, moded */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* start -------------------------------------------- */

/* tools for structure */

/* header */

header {
  background-color: rgb(21, 32, 51);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.427);
}

.logo {
  color: white;
}

/* nav */
nav > ul {
  margin: 0;
}

/* structure main components */

main {
  display: grid;
  grid-template-columns: 1fr 2fr;

  overflow: hidden;
}

/* chat-room-section */
.chat-rooms-section {
  text-align: center;
  overflow: hidden;
}

.chat-room {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.474);
  padding: 5px;
}

/* chat */

.chat-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url("/src/images/wp6988787.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.727);
}

/* messages */

.messages-div {
  overflow-y: scroll;
  height: 71vh;
  padding-top: 20px;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
  background-color: rgb(37, 55, 89);
  padding: 5px 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.474);
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 42%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: rgb(204, 204, 204);
  font-weight: 900;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content {
  background-color: hsl(0, 0%, 35%);
}

/* text input */

.input-div {
  padding: 10px;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

input {
  padding: 5px;
  width: 100%;
  font-size: 16px;
  border-radius: 17px;
  border: 1px solid rgb(37, 55, 89);
  flex-grow: 1;
}

/* send button */

button {
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 16px;
  background-color: rgb(37, 55, 89);
  color: white;
  border: none;
  border-radius: 100%;
  margin-left: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.474);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* footer */

footer {
  background-color: rgb(21, 32, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.727);
}


@media screen and (max-width: 700px) {

  header {
    height: 10vh;
  }

  .messages-div {
    overflow-y: scroll;
    padding-top: 20px;
  }

  .chat-rooms-section {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    height: 90vh;
    overflow: hidden;
  }

  footer {
    display: none;
  }
}